@media only screen and (min-width: 481px){
    
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

main{
    width: 100%;
}

p{
  margin: 0; 
}

a{
    text-decoration: none; 
    color: #69696a;
}

.contents{
    width: 90%;
    margin: 10px auto 0px auto; 
}

.corp-name{
    display: inline-block; 
}

.navi{
    margin: 15px 5px 160px 5px; 
}

.nav-bar{
    display: inline-block;
    float: right;
}

.links li{
    display: inline-block;
    padding: 10px; 
    color: #69696a;
}

.links li:last-child{
    background: #000000;
    color: #f9fafc;
    padding: 10px 30px 10px 30px; 
    border-radius: 40px; 
}

.lcolumn{
    width: 59%; 
    display: inline-block; 
    margin: 0% 1% 0% 0%; 
}

.tname{
    margin: 0px 0px 10px 0px; 
}

.blurb{
    padding: 0px 0px 0px 25px; 
    border-left: #69696a 2px solid;
    color: #69696a; 
}

.rcolumn{
    display: inline-block;
    position: relative; 
    width: 39%; 
    margin: 0% 0% 0% 1%; 
    height: 300px; 
    float: right; 
}

.cir1{
    padding-top: 70%;
    width: 70%; 
    background: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.cir2{
    padding-top: 43%;
    width: 43%; 
    background: rgba(207, 130, 213, 0.6);
    border-radius: 50%; 
    position: absolute;
    top: 0%;
    right: 0%;
}

.cir3{
    padding-top: 52%;
    width: 52%; 
    background: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 0%;
}

.show{
    background: #000000;
    color: #f9fafc;
    padding: 10px 30px 10px 30px; 
    border-radius: 40px; 
    position: fixed; 
    left: 50%; 
    top: 90%;
}
}